<p>
  Una versión verificada es la release o commit exacto que se comprobó cuando se
  revisó esta página. Tu versión instalada puede ser distinta.
  <br />
  Consultá la página de{' '}
  <a href="/20-referencia/03-versiones-y-compatibilidad/">
    versiones y compatibilidad
  </a>{' '}
  para conocer la evidencia actual.
</p>
